body {
  margin: 0;
}

.boxgpt-container * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.boxgpt-active {
  width: calc(100% - 400px);
}

.boxgpt-container {
  display: none;
}

.boxgpt-active .boxgpt-container {
  display: block;
}

.boxgpt-message p {
  margin: 16px 0;
}

.boxgpt-message code {
  font-family: monospace;
  background: #000;
  padding: 2px 6px;
}

.boxgpt-message pre {
  font-family: monospace;
  background: #000;
  padding: 10px 15px;
  margin: 10px 0;

  code {
    padding: 0;
  }
}


